# 1 Hello World Replacement
1. Write a program that
    - Prints the numbers from 1 to 100
    - For multiples of three print "Hello" instead of the number and for the multiples of five print "World"
    - For numbers which are multiples of both three and five print "HelloWorld".


2. Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

## 1.1

In [1]:
#To print the numbers from 1 to 100 I have to use range
hundreds = [x for x in range (1, 101)]
print(hundreds)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
#Now I have to replace every three multiple with 'Hello'
word = "Hello"
hundreds = [word if x % 3 == 0 
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 5, 'Hello', 7, 8, 'Hello', 10, 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 20, 'Hello', 22, 23, 'Hello', 25, 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 35, 'Hello', 37, 38, 'Hello', 40, 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 50, 'Hello', 52, 53, 'Hello', 55, 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 65, 'Hello', 67, 68, 'Hello', 70, 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 80, 'Hello', 82, 83, 'Hello', 85, 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 95, 'Hello', 97, 98, 'Hello', 100]

In [3]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"
words = ["Hello", "World"] 
hundreds = [words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

In [4]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"
#And every three AND five multiple with "Hello World"

hundreds = [words[0] + words[1] if x % 3 == 0 and x % 5 == 0
            else words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

## 1.2

In [5]:
result = (hundreds, "Python", "Works")
print(result)

([1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World'], 'Python', 'Works')

In [6]:
#Create the tuple
result = tuple(hundreds)

#Considering that a tuple is unchengable

#Replace the two words
result = tuple(str(word).replace("Hello", "Python").replace("World", "Works") for word in hundreds)

#Print the tuple
print(result)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')