# 1 Hello World Replacement
1. Write a program that
    - Prints the numbers from 1 to 100
    - For multiples of three print "Hello" instead of the number and for the multiples of five print "World"
    - For numbers which are multiples of both three and five print "HelloWorld".


2. Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

## 1.1

In [1]:
#To print the numbers from 1 to 100 I have to use range
hundreds = [x for x in range (1, 101)]
print(hundreds)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
#Now I have to replace every three multiple with 'Hello'
word = "Hello"
hundreds = [word if x % 3 == 0 
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 5, 'Hello', 7, 8, 'Hello', 10, 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 20, 'Hello', 22, 23, 'Hello', 25, 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 35, 'Hello', 37, 38, 'Hello', 40, 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 50, 'Hello', 52, 53, 'Hello', 55, 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 65, 'Hello', 67, 68, 'Hello', 70, 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 80, 'Hello', 82, 83, 'Hello', 85, 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 95, 'Hello', 97, 98, 'Hello', 100]

In [3]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"
words = ["Hello", "World"] 
hundreds = [words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

In [4]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"
#And every three AND five multiple with "Hello World"

hundreds = [words[0] + words[1] if x % 3 == 0 and x % 5 == 0
            else words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

## 1.2

In [5]:
result = (hundreds, "Python", "Works")
print(result)

([1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World'], 'Python', 'Works')

In [6]:
#Create the tuple
result = tuple(hundreds)

#Considering that a tuple is unchengable

#Replace the two words
result = tuple(str(word).replace("Hello", "Python").replace("World", "Works") for word in hundreds)

#Print the tuple
print(result)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

# 2 The SWAP
Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [7]:
x = 10
y = 1

#Original values
print (x, y)

#Swap
x, y = y, x

#Swapped values
print(x, y)

10 1
1 10

# 3 Computing the distance

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [8]:
#Importing library in order to use math.sqrt()
import math

#Create the two points's coordinates
u = tuple([3,0])
v = tuple([0,4])

#Calculating the distances on the axis
distance_x = u[0] + v[0]
distance_y = u[1] + v[1]

#Calculating the distance using Pitagora's theorem
distance = math.sqrt(distance_x**2 + distance_y**2)

#Print the result
print(distance)

5.0

# 4 Counting letters

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [9]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [10]:
#Define a function which counts the occurrences of every char
def count_char_occurrences(input_string, excludes, dict):
    #Iter the string
    for char in input_string:
        #If the char is an actual char 
        if char not in excludes:
            #I don't wanna count separately capital chars from lower chars
            char = char.lower()
            #If the current char is already counted
            if char in dict:
                #Increment the occurrences counter
                dict[char] += 1
            else:
                #Instance a first value
                dict[char] = 1
    #Return the dictionary updated
    return dict

In [11]:
#We have to use a Dictionary{"char", "occurrence"}
char_with_occurrences = {}

#List of the non-char symbols
excludes = [str(0), str(1), " ", "."]

#Call a function which counts the times every char appear
char_occurrences = count_char_occurrences(s1, excludes, char_with_occurrences)
char_occurrences = count_char_occurrences(s2, excludes, char_with_occurrences)

#Print the dictionary
for key, value in char_with_occurrences.items():
    print(f"Chiave: {key}, Valore: {value}")

Chiave: w, Valore: 5
Chiave: r, Valore: 21
Chiave: i, Valore: 13
Chiave: t, Valore: 21
Chiave: e, Valore: 23
Chiave: a, Valore: 8
Chiave: p, Valore: 9
Chiave: o, Valore: 19
Chiave: g, Valore: 2
Chiave: m, Valore: 9
Chiave: h, Valore: 13
Chiave: n, Valore: 11
Chiave: s, Valore: 8
Chiave: u, Valore: 9
Chiave: b, Valore: 6
Chiave: f, Valore: 11
Chiave: l, Valore: 13
Chiave: d, Valore: 6
Chiave: v, Valore: 3
Chiave: c, Valore: 2
Chiave: q, Valore: 1
Chiave: k, Valore: 1
Chiave: x, Valore: 1
Chiave: j, Valore: 1
Chiave: z, Valore: 1
Chiave: y, Valore: 1