# 1 Hello World Replacement
1. Write a program that
    - Prints the numbers from 1 to 100
    - For multiples of three print "Hello" instead of the number and for the multiples of five print "World"
    - For numbers which are multiples of both three and five print "HelloWorld".


2. Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

### 1.1

In [1]:
# Use range to generate numbers from 1 to 100
hundreds = [x for x in range (1, 101)]
print(hundreds)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [2]:
# Define the word to replace multiples of 3
replacement_word = "Hello"

# Use a list comprehension to generate numbers from 1 to 100
# Replace multiples of 3 with the replacement word
hundreds = [replacement_word if x % 3 == 0 else x for x in range(1, 101)]

# Print the resulting list
print(hundreds)

[1, 2, 'Hello', 4, 5, 'Hello', 7, 8, 'Hello', 10, 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 20, 'Hello', 22, 23, 'Hello', 25, 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 35, 'Hello', 37, 38, 'Hello', 40, 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 50, 'Hello', 52, 53, 'Hello', 55, 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 65, 'Hello', 67, 68, 'Hello', 70, 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 80, 'Hello', 82, 83, 'Hello', 85, 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 95, 'Hello', 97, 98, 'Hello', 100]

In [3]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"

# Define the replacement words
words = ["Hello", "World"] 

# Use a list comprehension to generate numbers from 1 to 100
# Replace multiples of 3 and 5 with the corresponding word
hundreds = [words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]

# Print the resulting list
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

In [4]:
#Now I have to replace every three multiple with 'Hello'
#And every five multiple with "World"
#And every three AND five multiple with "Hello World"

hundreds = [words[0] + words[1] if x % 3 == 0 and x % 5 == 0
            else words[0] if x % 3 == 0 
            else words[1] if x % 5 == 0
            else x for x in range (1, 101)]
print(hundreds)

[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

### 1.2

In [6]:
#Create the tuple
result = tuple(hundreds)

#Considering that a tuple is unchengable

#Replace the two words
result = tuple(str(word).replace("Hello", "Python").replace("World", "Works") for word in hundreds)

#Print the tuple
print(result)

('1', '2', 'Python', '4', 'Works', 'Python', '7', '8', 'Python', 'Works', '11', 'Python', '13', '14', 'PythonWorks', '16', '17', 'Python', '19', 'Works', 'Python', '22', '23', 'Python', 'Works', '26', 'Python', '28', '29', 'PythonWorks', '31', '32', 'Python', '34', 'Works', 'Python', '37', '38', 'Python', 'Works', '41', 'Python', '43', '44', 'PythonWorks', '46', '47', 'Python', '49', 'Works', 'Python', '52', '53', 'Python', 'Works', '56', 'Python', '58', '59', 'PythonWorks', '61', '62', 'Python', '64', 'Works', 'Python', '67', '68', 'Python', 'Works', '71', 'Python', '73', '74', 'PythonWorks', '76', '77', 'Python', '79', 'Works', 'Python', '82', '83', 'Python', 'Works', '86', 'Python', '88', '89', 'PythonWorks', '91', '92', 'Python', '94', 'Works', 'Python', '97', '98', 'Python', 'Works')

# 2 The SWAP
Write a program that swaps the values of two input variables `x` and `y` from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [7]:
# Ask the user to input the values for x and y
x = input("Enter the value of x: ")
y = input("Enter the value of y: ")

# Original values
print("Original values:", x, y)

# Swap the values of x and y
x, y = y, x

# Swapped values
print("Swapped values:", x, y)

Original values: 8 7
Swapped values: 7 8

# 3 Computing the distance

Write a program that calculates and prints the euclidean distance between two given points $u$ and $v$ in a 2D space, where $u$ and $v$ are both 2-tuples $(x,y)$.

Example: if $u=(3,0)$ and $v=(0,4)$, the function should return $5$.

*Hint:* in order to compute the square root, import the `math` library with `import math` and use `math.sqrt()`.

In [8]:
# Import the math library to use math.sqrt()
import math

# Create the coordinates of two points as tuples
u = tuple([3, 0])
v = tuple([0, 4])

# Calculate the distances on the x and y axes
distance_x = v[0] - u[0]  # Calculate the horizontal distance
distance_y = v[1] - u[1]  # Calculate the vertical distance

# Calculate the distance between the two points using the Pythagorean theorem
distance = math.sqrt(distance_x**2 + distance_y**2)

# Print the result
print("Distance between the two points:", distance)

Distance between the two points: 5.0

# 4 Counting letters

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The test strings are:

In [9]:
s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"

In [10]:
#Define a function which counts the occurrences of every char
def count_char_occurrences(input_string, excludes, dict):
    #Iter the string
    for char in input_string:
        #If the char is an actual char 
        if char not in excludes:
            #I don't wanna count separately capital chars from lower chars
            char = char.lower()
            #If the current char is already counted
            if char in dict:
                #Increment the occurrences counter
                dict[char] += 1
            else:
                #Instance a first value
                dict[char] = 1
    #Return the dictionary updated
    return dict

In [11]:
#We have to use a Dictionary{"char", "occurrence"}
char_with_occurrences = {}

#List of the non-char symbols
excludes = [str(0), str(1), " ", "."]

#Call a function which counts the times every char appear
char_occurrences = count_char_occurrences(s1, excludes, char_with_occurrences)
char_occurrences = count_char_occurrences(s2, excludes, char_with_occurrences)

#Print the dictionary
for key, value in char_with_occurrences.items():
    print(f"Chiave: {key}, Valore: {value}")

Chiave: w, Valore: 5
Chiave: r, Valore: 21
Chiave: i, Valore: 13
Chiave: t, Valore: 21
Chiave: e, Valore: 23
Chiave: a, Valore: 8
Chiave: p, Valore: 9
Chiave: o, Valore: 19
Chiave: g, Valore: 2
Chiave: m, Valore: 9
Chiave: h, Valore: 13
Chiave: n, Valore: 11
Chiave: s, Valore: 8
Chiave: u, Valore: 9
Chiave: b, Valore: 6
Chiave: f, Valore: 11
Chiave: l, Valore: 13
Chiave: d, Valore: 6
Chiave: v, Valore: 3
Chiave: c, Valore: 2
Chiave: q, Valore: 1
Chiave: k, Valore: 1
Chiave: x, Valore: 1
Chiave: j, Valore: 1
Chiave: z, Valore: 1
Chiave: y, Valore: 1

# 5 Isolating the unique

Write a program that determines and counts the unique numbers (numbers with only one occurrence) in the list:

In [12]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [13]:
# Using a for loop to create a list with unique values
unique_list_for = []
for i in l:
    if i not in unique_list_for:
        unique_list_for.append(i)

# Using a set to create a list with unique values
unique_list_set = list(set(l))

# Print the unique lists and their lengths
print("Using a for loop:", unique_list_for)
print("Using a Set:", unique_list_set)
print("Number of unique values using a for loop: ", len(unique_list_for))
print("Number of unique values using a Set: ", len(unique_list_set))

Using a for loop: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
Using a Set: [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
Number of unique values using a for loop:  54
Number of unique values using a Set:  54

# 6 Casting

Write a program that:
* reads from command line two variables, that can be either `int`, `float`, or `str`.
* use the `try`/`except` expressions to perform the addition of these two variables, only if possible
* print the result without making the code crash for all the `int`/`float`/`str` input combinations.

In [14]:
x = input("Inserisci il valore di x (accettati int, float o stringhe): ")
y = input("Inserisci il valore di y (accettati int, float o stringhe): ")

print(x)
print(y)

try:
    # Prova a convertire x e y in int
    print(int(x) + int(y))
except ValueError:
    try:
        print(float(x) + float(y))
    except ValueError:
        if isinstance(x, str) and isinstance(y, str):
            print(x + y)
        else: print("Incompatible types")

8
7.0
15.0

# 7 Cubes

Create a list of the cubes of *x* for *x* in *[0, 10]* using:

1. a for loop

2. a list comprehension

In [15]:
# Declare a list and fill it using a for loop
list_loop = []
for x in range(10):
    # Add the cube of x to the list
    list_loop.append(x**3)

# Print the list filled with the for loop
print("Using a for loop:", list_loop)

# Declare and define a list comprehension
list_comprehension = [x**3 for x in range(10)]

# Print the list filled with a list comprehension
print("Using a list comprehension:", list_comprehension)

Using a for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
Using a list comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

# 9 Nested list comprehension

> A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers $a$, $b$ and $c$ with $c < 100$.

In [16]:
import random

result = 101

# Keep generating random values for a and b until c^2 is less than 100
while result >= 100:
    a = random.randint(0, 10)
    b = random.randint(1, 10)
    result = a**2 + b**2

# Print the values of a^2, b^2, and c^2
print("a^2 = ", a, "\nb^2 = ", b, "\nc^2 = ", result)

a^2 =  1
b^2 =  3
c^2 =  10

# 10 Normalization of a N-dimensional vector

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1).

In [17]:
# Imports
import math
import random

# Generate a random length for the vector (1 to 10)
length = random.randint(1, 10)

# Define the N-vector with random integers
vector = tuple([random.randint(0, 100) for x in range(length)])

# Print the generated vector
print("Original vector:", vector)

# Calculate the sum of squares of vector elements
sum_of_squares = 0
for x in range(length):
    sum_of_squares += (vector[x]**2)

# Calculate the norm of the vector
norm = math.sqrt(sum_of_squares)

# Normalize the vector
normalized_vector = tuple(x / norm for x in vector)

# Print the normalized vector
print("Normalized vector:", normalized_vector)

Original vector: (2, 37, 48, 17, 80, 17, 27, 70, 58)
Normalized vector: (0.01426825363838374, 0.26396269231009917, 0.3424380873212098, 0.12128015592626179, 0.5707301455353496, 0.12128015592626179, 0.19262142411818048, 0.4993888773434309, 0.41377935551312844)

# 11 The Fibonacci sequence

Calculate the first 20 numbers of the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) using only `for` or `while` loops.

In [18]:
# Initialize variables for the Fibonacci sequence
current_number = 0
prev_number = 0

# Create a list to store the Fibonacci sequence, starting with 0
fibonacci = [current_number]

# Generate the Fibonacci sequence for the first 20 numbers
for i in range(20):
    # Calculate the next number in the sequence
    next_number = int(prev_number) + int(current_number)

    # Update the variables for the next iteration
    prev_number = current_number
    current_number = next_number

    # Ensure that prev_number is not 0 for the next iteration
    if (prev_number == 0):
        prev_number = 1

    # Add the next_number to the Fibonacci sequence
    fibonacci.append(next_number)

# Print the generated Fibonacci sequence
print("Fibonacci sequence:", fibonacci)

Fibonacci sequence: [0, 0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]